In [50]:
import sqlite3
from sqlalchemy import create_engine, text
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [12]:
with open("authInfo.txt") as file:
    id = file.read()

# Create SQLAlchemy engine obj to act as conn
url = "mysql://{}@localhost/superstore".format(id)
engine = create_engine(url)

In [52]:
# TODO: Keep for Reference
pd.read_sql_table(table_name="monthly_fin", con=engine.connect())

   YearMonth  TotalSales  DiscountValue     NetSales   NetProfit
0    2014-01          79          10.00   14236.8950   2450.1907
1    2014-02          46           8.10    4519.8920    862.3084
2    2014-03         157          26.30   55691.0090    498.7299
3    2014-04         135          14.85   28295.3450   3488.8352
4    2014-05         122          18.95   23648.2870   2738.7096
5    2014-06         135          23.22   34595.1276   4976.5244
6    2014-07         143          24.55   33946.3930   -841.4826
7    2014-08         153          20.05   27909.4685   5318.1050
8    2014-09         268          42.87   81777.3508   8328.0994
9    2014-10         159          25.45   31453.3930   3448.2573
10   2014-11         318          48.07   78628.7167   9292.1269
11   2014-12         278          53.05   69545.6205   8983.5699
12   2015-01          58          10.32   18174.0756  -3281.0070
13   2015-02          64           8.30   11951.4110   2813.8508
14   2015-03         138          19.34   38726.2520   9732.0978
15   2015-04         160          28.15   34195.2085   4187.4962
16   2015-05         146          24.25   30131.6865   4667.8690
17   2015-06         138          23.80   24797.2920   3335.5572
18   2015-07         140          23.85   28765.3250   3288.6483
19   2015-08         159          24.87   36898.3322   5355.8084
20   2015-09         293          41.30   64595.9180   8209.1627
21   2015-10         166          26.95   31404.9235   2817.3660
22   2015-11         324          52.59   75972.5635  12474.7884
23   2015-12         316          43.37   74919.5212   8016.9659
24   2016-01          89          11.80   18542.4910   2824.8233
25   2016-02          83           8.00   22978.8150   5004.5795
26   2016-03         163          31.12   51715.8750   3611.9680
27   2016-04         170          26.50   38750.0390   2977.8149
28   2016-05         225          41.50   56987.7280   8662.1464
29   2016-06         199          27.60   40344.5340   4750.3781
30   2016-07         201          32.05   39261.9630   4432.8779
31   2016-08         176          32.67   31115.3743   2062.0693
32   2016-09         363          54.24   73410.0249   9328.6576
33   2016-10         196          28.85   59687.7450  16243.1425
34   2016-11         370          58.32   79411.9658   4011.4075
35   2016-12         352          47.67   96999.0430  17885.3093
36   2017-01         155          25.00   43971.3740   7140.4391
37   2017-02         107          19.47   20301.1334   1613.8720
38   2017-03         238          31.14   58872.3528  14751.8915
39   2017-04         203          39.47   36521.5361    933.2900
40   2017-05         242          36.89   44261.1102   6342.5828
41   2017-06         245          42.12   52981.7257   8223.3357
42   2017-07         226          31.65   45264.4160   6952.6212
43   2017-08         218          31.30   63120.8880   9040.9557
44   2017-09         459          67.65   87866.6520  10991.5556
45   2017-10         298          51.92   77776.9232   9275.2755
46   2017-11         459          73.89  118447.8250   9690.1037
47   2017-12         462          67.72   83829.3188   8483.3468