# Cluster Analysis

In [99]:
import warnings
warnings.filterwarnings('ignore')

from helper_funcs import *
from sqlalchemy import create_engine

import numpy as np
import scipy.stats as st
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# SQLAlchemy Engine
engine = create_engine(generate_url())

In [46]:
df = pd.read_sql_table(table_name='features', con=engine.connect())
df.head(5)

,OrderYear,OrderMonth,DaysToShip,Segment,Region,State,Department,Division,Profit
0,2015,11,4,Corporate,East,Vermont,Furniture,Bookcases,1013.13
1,2016,1,4,Corporate,Central,Wisconsin,Furniture,Bookcases,407.13
2,2017,5,4,Consumer,South,Georgia,Furniture,Bookcases,374.63
3,2016,6,2,Consumer,South,Georgia,Furniture,Bookcases,291.38
4,2016,10,0,Corporate,East,Connecticut,Furniture,Bookcases,271.42

In [4]:
df.shape

(8058, 9)

In [59]:
# Detect columns as either numeric or categorical
num_cols = df.select_dtypes(exclude='object').columns.tolist()
cat_cols = df.select_dtypes(include='object').columns.tolist()

print('Categorical Features:', cat_cols)
#cat_cols.tolist()

Categorical Features: ['Segment', 'Region', 'State', 'Department', 'Division']

#### KMeans with Recoded Categorical Variables

SKLearn's OneHotEncoder may work too, but for our purposes, we're gonna do this quick and dirty.

In [128]:
# Encode categorical data with dummy variables, normalize numerical features, then concatenate back together.
# For consistency among feature column labels, make quick adjustments.
norm_df = pd.concat([df[num_cols].apply(st.zscore), pd.get_dummies(df[cat_cols])], axis=1)
norm_df = norm_df.rename(mapper={s:str(s).replace(' ', '_').strip() for s in norm_df.columns})
norm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8058 entries, 0 to 8057
Data columns (total 80 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   OrderYear                   8058 non-null   float64
 1   OrderMonth                  8058 non-null   float64
 2   DaysToShip                  8058 non-null   float64
 3   Profit                      8058 non-null   float64
 4   Segment_Consumer            8058 non-null   uint8
 5   Segment_Corporate           8058 non-null   uint8
 6   Segment_Home Office         8058 non-null   uint8
 7   Region_Central              8058 non-null   uint8
 8   Region_East                 8058 non-null   uint8
 9   Region_South                8058 non-null   uint8
 10  Region_West                 8058 non-null   uint8
 11  State_Alabama               8058 non-null   uint8
 12  State_Arizona               8058 non-null   uint8
 13  State_Arkansas              8058 non-null   uint8
 14  State_California            8058 non-null   uint8
 15  State_Colorado              8058 non-null   uint8
 16  State_Connecticut           8058 non-null   uint8
 17  State_Delaware              8058 non-null   uint8
 18  State_District of Columbia  8058 non-null   uint8
 19  State_Florida               8058 non-null   uint8
 20  State_Georgia               8058 non-null   uint8
 21  State_Idaho                 8058 non-null   uint8
 22  State_Illinois              8058 non-null   uint8
 23  State_Indiana               8058 non-null   uint8
 24  State_Iowa                  8058 non-null   uint8
 25  State_Kansas                8058 non-null   uint8
 26  State_Kentucky              8058 non-null   uint8
 27  State_Louisiana             8058 non-null   uint8
 28  State_Maine                 8058 non-null   uint8
 29  State_Maryland              8058 non-null   uint8
 30  State_Massachusetts         8058 non-null   uint8
 31  State_Michigan              8058 non-null   uint8
 32  State_Minnesota             8058 non-null   uint8
 33  State_Mississippi           8058 non-null   uint8
 34  State_Missouri              8058 non-null   uint8
 35  State_Montana               8058 non-null   uint8
 36  State_Nebraska              8058 non-null   uint8
 37  State_Nevada                8058 non-null   uint8
 38  State_New Hampshire         8058 non-null   uint8
 39  State_New Jersey            8058 non-null   uint8
 40  State_New Mexico            8058 non-null   uint8
 41  State_New York              8058 non-null   uint8
 42  State_North Carolina        8058 non-null   uint8
 43  State_North Dakota          8058 non-null   uint8
 44  State_Ohio                  8058 non-null   uint8
 45  State_Oklahoma              8058 non-null   uint8
 46  State_Oregon                8058 non-null   uint8
 47  State_Pennsylvania          8058 non-null   uint8
 48  State_Rhode Island          8058 non-null   uint8
 49  State_South Carolina        8058 non-null   uint8
 50  State_South Dakota          8058 non-null   uint8
 51  State_Tennessee             8058 non-null   uint8
 52  State_Texas                 8058 non-null   uint8
 53  State_Utah                  8058 non-null   uint8
 54  State_Vermont               8058 non-null   uint8
 55  State_Virginia              8058 non-null   uint8
 56  State_Washington            8058 non-null   uint8
 57  State_West Virginia         8058 non-null   uint8
 58  State_Wisconsin             8058 non-null   uint8
 59  State_Wyoming               8058 non-null   uint8
 60  Department_Furniture        8058 non-null   uint8
 61  Department_Office Supplies  8058 non-null   uint8
 62  Department_Technology       8058 non-null   uint8
 63  Division_Accessories        8058 non-null   uint8
 64  Division_Appliances         8058 non-null   uint8
 65  Division_Art                8058 non-null   uint8
 66  Division_Binders            8058 non-null   uint8
 67  Division_Bookcases          8058 non-null   uint8
 68  Division_Chairs             8058 non-null   uint8
 69  Division_Copiers            8058 non-null   uint8
 70  Division_Envelopes          8058 non-null   uint8
 71  Division_Fasteners          8058 non-null   uint8
 72  Division_Furnishings        8058 non-null   uint8
 73  Division_Labels             8058 non-null   uint8
 74  Division_Machines           8058 non-null   uint8
 75  Division_Paper              8058 non-null   uint8
 76  Division_Phones             8058 non-null   uint8
 77  Division_Storage            8058 non-null   uint8
 78  Division_Supplies           8058 non-null   uint8
 79  Division_Tables             8058 non-null   uint8
dtypes: float64(4), uint8(76)
memory usage: 912.8 KB

In [139]:
# Correct a TypeError
norm_df.columns = norm_df.columns.astype(str)

In [137]:
inertial_vals = []

K_vals  = range(1, 10)
for k in K_vals:
    kmeans = KMeans(k)
    kmeans.fit(norm_df)
    inertial_vals.append(kmeans.inertia_)

plt.plot(K_vals, inertial_vals, marker='o')
plt.title('Elbow Method for Optimal k')
plt.xlabel('Number of Clusters (k)')
plt.ylabel('Sum of Squared Distances (Inertia)')
plt.show()

In [156]:
kmeans = KMeans(n_clusters=5, random_state=101).fit(norm_df)
df['kMeans Cluster Label'] = kmeans.labels_

In [157]:
df['kMeans Cluster Label'].value_counts()

1    2411
2    2059
0    1989
3    1581
4      18
Name: kMeans Cluster Label, dtype: int64

In [158]:
# TODO: Explore possible patterns among clusters

In [159]:
engine.connect().close()
engine.dispose()